<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="autor" value="Vitor Cioletti Morais"/>
    <add key="palavrasChave" value="Estatística; Números Aleatórios;"/>
    <add key="titulo" value="Luna - Gerador de Números Aleatórios"/>
    <add key="assunto" value="Vitor Cioletti Morais Auxílio a tarefas de estatística"/>
  </appSettings>
</configuration>